




<!DOCTYPE html>
<html>
<head>

<title>My Site</title>

<style>
body{
margin:0;
background:black;
color:#00ff00;
font-family:monospace;
}

video{
position:fixed;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
z-index:-1;
}

#typing{
text-align:center;
margin-top:40vh;
font-size:40px;
}

</style>

</head>

<body>

<video autoplay muted loop>
    <source src="{{ url_for('static', filename='video/Hack By Yokina.mov') }}" type="video/quicktime">
</video>

<h1 id="typing"></h1>

<script>

const text = "ACCESS GRANTED...";
let i = 0;

function typeWriter() {
  if (i < text.length) {
    document.getElementById("typing").innerHTML += text.charAt(i);
    i++;
    setTimeout(typeWriter, 80);
  }
}

typeWriter();

</script>

</body>
</html>